.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1534258936925-c58bed479fcb?q=80&w=2831&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    height: 170px;
    width: 100%;
    margin-bottom: 2.6em;
}
.container h1{
    color: white;
    font-weight: 500;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}
.container p{
    color: white;
    font-weight: 500;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}

/*titles and p's of the slider*/
.t_container{
    border: 1px solid red;
}
.title_caption{
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}
.txt_caption{
    text-shadow: 0px 1px 6px black;
}
/**/
.container_btn_add{
    width: 100%;
    height: auto;
    padding: 2em 1em;
}
#btn_add{
    padding: 0.7em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#btn_add i{
    font-size: 2em;
}
.datos_rows td, 
.datos_rows th{
    color: rgb(0, 62, 105);
}
