.jumbotron{
    background-image: url('https://images.unsplash.com/photo-1534258936925-c58bed479fcb?q=80&w=2831&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    height: 170px;
    width: 100%;
    margin-bottom: 2.6em;
}
.container h1{
    color: white;
    font-weight: 500;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}
.container p{
    color: white;
    font-weight: 500;
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}

/*titles and p's of the slider*/
.t_container{
    border: 1px solid red;
}
.title_caption{
    text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.451);
}
.txt_caption{
    text-shadow: 0px 1px 6px black;
}
/**/
.container_btn_add{
    width: 100%;
    height: auto;
    padding: 2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#btn_add{
    padding: 0.7em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#btn_add i{
    font-size: 2em;
}
#cont_inputSearch{
    width: 400px;
}
.datos_rows td, 
.datos_rows th{
    color: rgb(0, 62, 105);
}
.link_centro{
    color: rgb(0, 62, 105);
    text-decoration: none;
}
/*add participants form...*/
.cont_form_add_participantes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont_btn_regresar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    & a{
        width: 250px;
        padding: 0.6em;
        font-size: 1.2em;
        font-weight: 500;
        background-color: rgb(0, 62, 105);
        color: white;
    }
    & a:hover{
        transition: all 250ms ease-in-out;
        background-color: rgb(2, 83, 141);
        color: white;
    }
}
.form_participantes_add{
    width: clamp(310px, 90%, 670px);
    border-radius: 0.3em;
    box-shadow: 0px 1px 2px rgba(18, 18, 18, 0.389);
    padding: 1em;
    & #cont_cuota_idSocio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        & .l{
            height: 100px;
            width: 300px;
            & #showName_span{
                color: black;
            }
        }
    }
    & #cont_pago_equipo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        & .l{
            height: 100px;
            width: 300px;
        }
        & #cont_n_equipo{
            position: relative;
            & #sugerencias{
                display: none;
                position: absolute;
                top: 75px;
                width: 300px;
                height: auto;
                max-height: 150px;
                overflow-y: auto;
                padding: 0.5em;
                border-radius: 0.3em;
                background-color: rgb(236, 236, 236);
                & .sugerencia_item{
                    width: 100%;
                    padding: 0.6em;
                    text-align: left;
                    cursor: pointer;
                }
                & .sugerencia_item:hover{
                    background-color: white;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.315);
                    transition: all ease-in-out 300ms;
                }
            }
        }
    }
    & .cont_btns_participantes_form{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        & .b{
            width: 250px;
            padding: 0.7em;
            font-size: 1.2em;
        }
    }
    /*warning colors: incorrect data in input*/
    & .shake{
        border-color: red;
        color: red;
        animation: shake 2s ease-in-out;
    }
    & .shakeLabel{
        color: red;
        animation: shake 2s ease-in-out;
    }
}
.warnings{
    border-color: red;
    animation: shake ;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}
#edit_form_participantes{
    display: none;
}

/*centro component...*/
#centro_main_cont{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1em 0;
    & .ul{
        width: clamp(310px, 95%, 450px);
        height: auto;
        background-color: rgb(250, 253, 255);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.093);
        border-radius: 0.3em;
        & ul{
            width: 100%;
            height: 100%;
            list-style: none;
            /*by default bootstrap affects these properties...*/
            padding-left: 0.5em;
            margin-bottom: 0;
            /**/
            & .btn_li{
                margin-top: 0.7em;
            }
            & li{
                padding: 0.7em 0;
                color: rgb(0, 62, 105);
                font-weight: 600;
                & span{
                    font-weight: 300;
                    color: black;
                }
                & i{
                    color: rgb(0, 62, 105);
                }
                & a{
                    text-decoration: none;
                    color: rgb(20, 20, 20);
                    font-weight: 500;
                }
                #btn_back_centro{
                    background-color: rgb(0, 62, 105);
                    padding: 0.7em 1.3em;
                    color: white;
                    border-radius: 0.3em;
                    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.123);
                    letter-spacing: 0.03em;
                    font-weight: 500;
                    cursor: pointer;
                }
                #btn_back_centro:hover{
                    background-color: rgb(8, 84, 138);
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 756px) {
    .form_participantes_add #cont_cuota_idSocio .l {
        width: 100%;
    }
    .form_participantes_add #cont_pago_equipo .l {
        width: 100%;
    }
    .form_participantes_add .cont_btns_participantes_form .b{
        width: 100%;
    }
}

@media screen and (max-width: 514px){
    .container_btn_add{
        #cont_inputSearch{
            margin-top: 1em;
        }
    }
}